<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>calcule age</h1>
    <form action="ee" method="post">
   Nom <input type="text" name="nom" id="">
   Prenom <input type="text" name="prenom" id=""> 
   annee <input type="text" name="annee" id="">
   <button>calcule age</button>
   <p id="p"></p>
   <button type="submit">calculeage</button>

    </form>
</body>
</html>